@model SmallJob.Models.JobDetail

@{
    ViewBag.Title = "Details";
}
<body class="jobList">
    <div class="workerList">


<h2>Job Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleOfJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleOfJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-warning">
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobId })
    </button>
    <a class="btn btn-default"
       href="@Url.Action("Index", "SmallJob")">
        Back to list
    </a>
</p>

    </div>
</body>
